<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjhyyt.user.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="PermissionResultMap" type="cn.tjhyyt.user.entity.Permission">
        <id column="id" property="id" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_no" property="permissionNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        p.id, p.permission_name, p.permission_no
    </sql>

    <select id="selectPermissionsByRoleId" parameterType="java.lang.Integer" resultMap="PermissionResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            permission p
            INNER JOIN role_permission rp ON p.id = rp.permission_id
            INNER JOIN role r ON r.id = rp.role_id
        WHERE
            r.id = #{roleId}
    </select>

</mapper>
