<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjhyyt.user.mapper.PermissionResourceMapper">

    <select id="getPermissionResourceById" resultType="cn.tjhyyt.common.model.dao.PermissionResource">
        select
                permission_id as permissionId,
                resource_id as resourceId
        from permission_resource
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getPermissionResourceListByMap" resultType="cn.tjhyyt.common.model.dao.PermissionResource" parameterType="java.util.Map">
        select
                permission_id as permissionId,
                resource_id as resourceId
        from permission_resource
        <trim prefix="where" prefixOverrides="and | or">
                <if test="permissionId != null and permissionId!=''">
                    and permission_id=#{permissionId}
                </if>
                <if test="resourceId != null and resourceId!=''">
                    and resource_id=#{resourceId}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getPermissionResourceCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from permission_resource
        <trim prefix="where" prefixOverrides="and | or">
                <if test="permissionId != null and permissionId!=''">
                    and permission_id=#{permissionId}
                </if>
                <if test="resourceId != null and resourceId!=''">
                    and resource_id=#{resourceId}
                </if>
        </trim>
    </select>

    <insert id="insertPermissionResource" parameterType="cn.tjhyyt.common.model.dao.PermissionResource">
        insert into permission_resource(
                        permission_id,
                        resource_id)
        values(
                     #{permissionId},
                    #{resourceId})
    </insert>

    <update id="updatePermissionResource" parameterType="cn.tjhyyt.common.model.dao.PermissionResource">
        update permission_resource
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="permissionId != null and permissionId!=''">
                            permission_id=#{permissionId},
                        </if>
                        <if test="resourceId != null and resourceId!=''">
                            resource_id=#{resourceId}
                        </if>
        </trim>
    </update>
</mapper>