<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjhyyt.user.mapper.ResourceMapper">
    <resultMap id="userMap" type="cn.tjhyyt.common.model.dao.Resource">
        <id property="resourceId" column="resource_id"/>
        <result property="resourceName" column="resource_name"/>
        <result property="path" column="path"/>
        <collection property="permissionSet" ofType="cn.tjhyyt.common.model.dao.Permission">
            <id property="permissionId" column="permission_id"/>
            <result property="permissionName" column="permission_name"/>
        </collection>
    </resultMap>

    <select id="getResourceAndPermission" resultMap="userMap">
      SELECT re.resource_id,re.resource_name,re.path,p.permission_id,p.permission_name
      FROM resource re
        INNER JOIN permission_resource pr on re.resource_id = pr.resource_id
        INNER JOIN permission p on pr.permission_id = p.permission_id
    </select>

    <select id="getResourceById" resultType="cn.tjhyyt.common.model.dao.Resource">
        select
                resource_id as resourceId,
                resource_name as resourceName,
                des as des,
                path as path
        from resource
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getResourceListByMap" resultType="cn.tjhyyt.common.model.dao.Resource" parameterType="java.util.Map">
        select
                resource_id as resourceId,
                resource_name as resourceName,
                des as des,
                path as path
        from resource
        <trim prefix="where" prefixOverrides="and | or">
                <if test="resourceId != null and resourceId!=''">
                    and resource_id=#{resourceId}
                </if>
                <if test="resourceName != null and resourceName!=''">
                    and resource_name=#{resourceName}
                </if>
                <if test="des != null and des!=''">
                    and des=#{des}
                </if>
                <if test="path != null and path!=''">
                    and path=#{path}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getResourceCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from resource
        <trim prefix="where" prefixOverrides="and | or">
                <if test="resourceId != null and resourceId!=''">
                    and resource_id=#{resourceId}
                </if>
                <if test="resourceName != null and resourceName!=''">
                    and resource_name=#{resourceName}
                </if>
                <if test="des != null and des!=''">
                    and des=#{des}
                </if>
                <if test="path != null and path!=''">
                    and path=#{path}
                </if>
        </trim>
    </select>

    <insert id="insertResource" parameterType="cn.tjhyyt.common.model.dao.Resource">
        insert into resource(
                        resource_id,
                        resource_name,
                        des,
                        path)
        values(
                     #{resourceId},
                     #{resourceName},
                     #{des},
                    #{path})
    </insert>

    <update id="updateResource" parameterType="cn.tjhyyt.common.model.dao.Resource">
        update resource
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="resourceId != null and resourceId!=''">
                            resource_id=#{resourceId},
                        </if>
                        <if test="resourceName != null and resourceName!=''">
                            resource_name=#{resourceName},
                        </if>
                        <if test="des != null and des!=''">
                            des=#{des},
                        </if>
                        <if test="path != null and path!=''">
                            path=#{path}
                        </if>
        </trim>
    </update>
</mapper>