<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjhyyt.user.mapper.RolePermissionMapper">

    <select id="getRolePermissionById" resultType="cn.tjhyyt.common.model.dao.RolePermission">
        select
                role_id as roleId,
                permission_id as permissionId
        from role_permission
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getRolePermissionListByMap" resultType="cn.tjhyyt.common.model.dao.RolePermission" parameterType="java.util.Map">
        select
                role_id as roleId,
                permission_id as permissionId
        from role_permission
        <trim prefix="where" prefixOverrides="and | or">
                <if test="roleId != null and roleId!=''">
                    and role_id=#{roleId}
                </if>
                <if test="permissionId != null and permissionId!=''">
                    and permission_id=#{permissionId}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getRolePermissionCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from role_permission
        <trim prefix="where" prefixOverrides="and | or">
                <if test="roleId != null and roleId!=''">
                    and role_id=#{roleId}
                </if>
                <if test="permissionId != null and permissionId!=''">
                    and permission_id=#{permissionId}
                </if>
        </trim>
    </select>

    <insert id="insertRolePermission" parameterType="cn.tjhyyt.common.model.dao.RolePermission">
        insert into role_permission(
                        role_id,
                        permission_id)
        values(
                     #{roleId},
                    #{permissionId})
    </insert>

    <update id="updateRolePermission" parameterType="cn.tjhyyt.common.model.dao.RolePermission">
        update role_permission
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="roleId != null and roleId!=''">
                            role_id=#{roleId},
                        </if>
                        <if test="permissionId != null and permissionId!=''">
                            permission_id=#{permissionId}
                        </if>
        </trim>
    </update>
</mapper>